<div>
  <%= horse.name %>
  <%= image_tag horse.image %>
  <%= render "shared/horse_bet_form", horse: horse, kind: :straight %>
  <%= render "shared/horse_bet_form", horse: horse, kind: :place %>
</div>
