<style>
  .circle-image {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      object-fit: cover;
      border: 5px solid #000;
      position: relative;
  }

  .overlay-number {
      position: absolute;
      bottom: 5px; /* Position from the bottom */
      right: 5px; /* Position from the right */
      background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
      color: white;
      padding: 5px;
      border-radius: 50%; /* Make the number background a circle */
      font-size: 14;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

</style>


<% Horse.order(speed: :desc).limit(3).each.with_index(1) do |horse, place| %>
    <%= image_tag horse.image, class: "circle-image" %>
    <div class="overlay-number"><%= 2 %></div>
<% end %>
