.horse_name_div {
    font-size: 30px;
    font-weight: bold;
    height:50px;
}

.horse_name {
    height:50px;
    vertical-align:middle;
}

.bet_input {
    position: absolute;

    width: 150px;
    height: 20px;
    left: 0px;
    padding: 0;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bet_ratio_div {
    position: absolute;
    width:40px;
    height:20px;

    left:165px;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    background-color: #FF0000;
}

.bet_ratio {
    text-align: center;
    vertical-align: middle;
}

.bet_payout_div {
    position: absolute;
    width: 40px;
    height: 20px;
    left:160px;

    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    background-color: #FF0000;
}

.bet_payout {
    text-align: center;
    vertical-align: middle;
}

.horse_container {
    position: relative;
    text-align: center;
    width: 325px;
    height:230px;

    background-color: #BBBBBB;
    /* margin: 0;
    padding: 0; */
    /* margin: 0 auto; */
    margin: 5px;

    outline-width: 2px;
    outline-color: #FF0000;
}

/* Horse Images */
.horse_img {
    position: absolute;
    top: 40px;

    left: 50%;
    width: 200px;
    height: 100px;

    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* Tooltips */
@keyframes tooltip-opacity {
    0% {
        opacity: 0%;
    }
    90% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.tooltiptext {
    top: 60px;

    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Animation */
    position: absolute;
    z-index: 1;
}

.place_button:hover .tooltiptext,
.straight_button:hover .tooltiptext {
    visibility: visible;
    /* opacity: 1; */
    animation-name: tooltip-opacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

/* For the bet input box */

/* Hides the spin buttons */
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


/* For the Grid with the horses */
.container {
    /* visibility: hidden; */
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, auto);

    width: 700px;
    margin: 0 auto;
    padding: 0px;

    background-color: #00AAAA;
    padding: 10px;
}

.bet_button {
    background-color: #00FF00;
    width: 100px;
    height: 100px;
    /* float: bottom; */
}

/* Tool Tips on the bet buttons */
.place_button {
    background-color: #00FF00;
    position: absolute;

    right: 0px;
    bottom: 0px;
    width: 100px;
    height: 30px;
}

.place_div {
    position: absolute;
    left: 0px;
    bottom: 30px;

    width: 100%;
    height: 30px;
}
.show_div {
    position: absolute;
    left: 0px;
    bottom: 60px;

    width: 100%;
    height: 30px;
}
.straight_div {
    position: absolute;
    left: 0px;
    bottom: 0px;

    width: 100%;
    height: 30px;
}

.straight_button {
    background-color: #00FF00;
    position: absolute;
    right: 0px;
    bottom: 0px;

    width: 100px;
    height: 30px;
}
