button:hover{
   transform: scale(1.05);
}

h1, h2 {
    color: white;
}

p {
    color: white;
}

#lobby-body {
    /*Set Background Image*/
    background-image: url('carpet.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto;

    /*Set up Grid layout*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 0;
    row-gap: 0;
    grid-template-areas: 
    "a b c"
    "d e f"
    "g h i"
    "j k l"
    "m n o";
    
    margin: 0%;
    min-block-size: 100dvh ;
}

#carpet-div {
    background-image: url('RedVelvetCarpet.jpg');

    /* Set the Carpet to cover the whole middle column*/
    grid-row-start: b;
    grid-column-start: b;
    grid-row-end: n;
    grid-column-end: n;
    /*Misc Formatting*/
    margin-top: 0%;

}

.lobby-header {
    grid-area: b;
    padding: 1.25rem;
    z-index: 1;
    justify-self: center;
    align-self: start;
}

.lobby-account-info {
    grid-area: a;
    justify-items: center;
    align-items: center;
    padding: 5px, 5px;
}

.lobby-account-info button{
    color : #444;
    border-radius: 5rem;
    line-height: 1.5rem;
    transition: all 0.25s ease;
    width: 4rem;
    height: 2rem;
}

.lobby-main {
    padding: 1.25rem;
    position: relative;
    align-self: center;
    grid-row-start: b;
    grid-column-start: b; 
    grid-row-end: e;
    grid-column-end: e; 
}

#main-text {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.lobby-game button {
    color : #444;
    border-radius: 8rem;
    line-height: 1.5rem;
    font-size: large;
    transition: all 0.25s ease;
    width: 10rem;
    height: 5rem;
    border: none;
    display: inline-grid;
    margin-top: 1rem;
    justify-items: center;
}
.coming-soon {
    cursor: not-allowed;
    background-image: url("UnderConstructionTape.png");
    background-size: 105%;
    justify-self: center;
    align-self: center;
    background-color: grey;
}
.coming-soon:hover{
    transform: none;
}

#horse-racing {
    grid-area: f;
    justify-self: center;
    align-self: center;
}
#horse-racing button {
    animation: animatedBackground 1s linear infinite paused, animatedText 1s ease-in-out infinite alternate paused;
    background-repeat: repeat-x;
    background-image: url("horse1.png");
    background-size: 50%;
}
#horse-racing button:hover{
    animation-play-state: running;
}

#roulette {
    grid-area: d;
    justify-self: center;
    align-self: center;
}
#slots {
    grid-area: i;
    justify-self: center;
    align-self: center;
}

@keyframes animatedText {
    from {
        font-size: 100%;
    }

    to {
        font-size: 110%;
    }
}
@keyframes animatedBackground {
    from {
      background-position: -20px 90%;
    }
    to {
      background-position: 270% 90%;
    }
}